html {
  text-align: center;
  font-family: sans-serif;
  font: Helvetica;
}

h1 {

}

.main-banner {
  background-image: url(../../resources/images/the-flatiron-building.png);
}

ul {
  list-style: none;
}
